.navbar,
.header__account {
    color: black;
}

.about__title {
    margin-bottom: 20px;
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

/* Mission */
.about-mission {
    padding: 100px 0 40px;
}

.about-mission .row {
    align-items: center;
}

.about-mission__top {
    margin-bottom: 30px;
}

.about-mission__desc-heading {
    text-align: center;
}

.about-mission__title {
    text-align: center;
}

.about-mission__desc,
.about-story__desc {
    text-align: justify;
    color: var(--color-text);
    line-height: 1.3;
    font-size: 1.8rem;
    margin-bottom: 1em;
    word-spacing: 0.05em;
}

.about-mission__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 1s ease;
}

.about-mission__img:hover {
    scale: 1.05;
}

/* Story */
.about-story {
    padding: 50px 0;
}

.about-story__top {
    margin-bottom: 20px;
}

.about-story .row {
    align-items: center;
    row-gap: 20px;
}

.about-story__desc-heading {
    text-align: center;
}

.about-story__title {
    margin-bottom: 20px;
    text-align: center;
}

.about-story .about-story__img {
    border-radius: 10px;
}

/* Founders */
.founders {
    padding: 100px 0;
}

.founders__top {
    text-align: center;
    margin-bottom: 30px;
}

.founders__img-wrap {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.founders__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    transition: all .5s ease;
}
.founders__img:hover{
    scale: 1.1;
}
.founders__item-content {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0 0 10px 10px;
}

.founders__name {
    margin-bottom: 5px;
}

.founders__job {
    text-align: center;
    font-size: 1.8rem;
}

.stats__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats__overlay-img {
    width: 30vw;
    height: 90vh;
    object-fit: cover;
    object-position: center;
   
}