/*  */
.destinations {
    padding: 80px 100px;
}
.destinations__top{
    margin-bottom: 30px;
    text-align: center;
}
.destinations__gird {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px 300px;
    grid-template-areas:
        "a a b"
        "c d b"
        "e f f";
    gap: 30px;
    grid-auto-flow: dense;
}
.destinations__box{
    position: relative;
}
.destinations__box:nth-child(1) {
    grid-area: a;
}

.destinations__box:nth-child(2) {
    grid-area: b;
}

.destinations__box:nth-child(3) {
    grid-area: c;
}

.destinations__box:nth-child(4) {
    grid-area: d;
}

.destinations__box:nth-child(5) {
    grid-area: e;
}

.destinations__box:nth-child(6) {
    grid-area: f;
}

.destinations__img-wrap {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.destinations__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    transition: all .5s ease;
}
.destinations__img:hover{
    scale: 1.1;
}
.destinations__location{
    position: absolute;
    color: white;
    left: 5%;
    bottom: 5%;
    z-index: 1;
}

.review{
    margin-top: 100px;
}