/* Btn */
.btn {
    color: black;
    padding: 10px 30px;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: transparent;
    border: 3px solid currentColor;
    border-radius: 999px;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-text);
}

.section-desc-heading {
    font-size: 2.5rem;
    font-style: italic;
    text-transform: capitalize;
    font-family: 'Comforter Brush', cursive;
    color: #FDC703;
}

/* Header */
.header__top-inner {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top--scrolled {
    background: #ffffffd5;
    border-bottom: 1px solid grey;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__link {
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: .5s all ease;
}

.navbar__link:hover {
    color: black;
    text-decoration: none;
    text-shadow: 1px 0px 1px currentColor;
}


.header__banner {
    position: relative;
    padding: 0 0 20px;
}

.header__title {
    position: relative;
    transform: translateY(120px);
    z-index: 2;
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-text);
    text-align: center;
}


.header__banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0;
    top: 0;
    background-color: #F5F5F5;
    border-radius: 0 0 50% 50%;
    z-index: 1;
}

.header__banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0;
    bottom: 0;
    background-color: #F5F5F5;
    border-radius: 50% 50% 0 0;
    z-index: 1;
}

.banner {
    width: 100%;
    height: 850px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    justify-content: center;
    background-color: #437af28c;
    position: relative;
}

.banner__img-wrap {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    position: absolute;
    left: -11%;
}

.banner__img-wrap:hover .banner__img {
    opacity: 0.7;
    position: relative;
}

.banner__img {
    width: 350px;
    height: 850px;
    object-fit: cover;
    flex-shrink: 0;
    transition: all 0.4s ease-in-out;
}


.banner__img-wrap .banner__img:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Explore Adventure" */
.explore-adventure {
    padding: 50px 0;
}

.explore-adventure__title {
    text-align: center;
}

.explore-adventure__box-list {
    margin-top: 40px;
}

.explore-adventure__box {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.explore-adventure__box:hover .explore-adventure__img {
    scale: 1.1;
    transition: ease .5s all;
}

.explore-adventure__img-wrap {
    height: 300px;
}

.explore-adventure__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: ease .5s all;
}

.explore-adventure__desc {
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

/* End Explore Adventure" */
/* Choose Place */
.choose-place {
    padding: 50px 0;
}

.choose-place__title {
    text-align: center;
    margin-bottom: 50px;
}

.choose-place__desc-heading {
    text-align: center;
}

.choose-place__desc {
    margin-bottom: 20px;
}

.choose-place__item {
    position: relative;
    height: 350px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 10px;
}

.choose-place__text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    transition: all 0.75s ease;
}

.choose-place__item-title {
    font-size: 3.2rem;
    font-weight: 600;
    font-family: "Abril Fatface", cursive;
    color: #fff;
    z-index: 3;
    position: relative;
}

.choose-place__item-desc {
    margin-bottom: 20px;
}

.choose-place__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all .75s ease;
}

.choose-place__item:hover .choose-place__img {
    scale: 1.1;
    filter: brightness(0.5);
}

.choose-place__text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    transition: all 0.75s ease;
}


.choose-place__item:hover .choose-place__text {
    transform: translateY(-270%);
}

/* End Choose Place */
/* About */
.about {
    padding: 50px 0;
}

.about__desc-heading {
    margin-bottom: 20px;
}

.about__title-heading {
    margin-bottom: 30px;
}

.about__desc {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #888;
    margin: 0 0 25px;
}

.about__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about__icon-wrap {
    padding: 20px;
    background: #029E9D;
    border-radius: 50%;
}

.about__icon {
    font-size: 2rem;
    color: white;
}

.about__item-title {
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #666;
}

.about__item-desc {
    font-size: 1.7rem;
    color: #888;
}

/* End About */
/* Featured */
.featured {
    padding: 50px 0;
}

.featured__desc {
    text-align: center;
    margin-bottom: 20px;
}

.featured__title {
    text-align: center;
    margin-bottom: 50px;
}

.featured__item {
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all .5s ease;
}

.featured__item:hover {
    scale: 1.05;
    transition: all .5s ease;
}

.featured__img {
    border-radius: 10px 10px 0 0;
}

.featured__item-body {
    padding: 20px;
}

.featured__item-location {
    margin-bottom: 5px;
    font-style: italic;
    font-family: 'Comforter Brush', cursive;
    color: #FDC703;
}

.featured__item-title {
    margin-bottom: 15px;
    font-size: 2.3rem;
    font-weight: 600;
}

.featured__item-desc {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 1.7rem;
    color: #686d7a;
}

.featured__info {
    display: flex;
    justify-content: space-between;
}

.featured__price {
    font-weight: 600;
}

.featured__time {
    color: #fdc703bd;
}

.featured__time-text {
    font-weight: 600;
}

.featured__rating {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    display: flex;
    gap: 5px;
    background: #FDC703;
}

.featured__rating i:last-child {
    color: white;
}

/* End Featured */
/* Highlights Video */
.highlights-video {
    padding: 100px 0;
    background-image: url(../img/Ba_Na_Hill_DaNang.jpg);
}

.highlights-video__title {
    margin-bottom: 30px;
    text-align: center;
}

.highlights-video__desc {
    margin-bottom: 30px;
    text-align: center;
}

.highlights-video__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlights-video__icon i {
    font-size: 4em;
    color: #666;
}

/* End Highlights Video */
/* Review */
.review {
    padding: 100px 0;
}

.review__item {
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.review__desc {
    margin-bottom: 20px;
    text-align: justify;
    color: #666;
    font-size: 1.6rem;
    line-height: 1.4;
}

.review__info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.review__avt-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review__avt {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.review__name {
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

/* End Review */
/* Footer */
.footer {
    padding: 100px 0;
    background: #029E9D;
}

.footer__info-title {
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.footer__info-text {
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
}

.footer__info-text:hover {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: 900;
}

.footer__social {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__social i {
    color: white;
}

.footer__place-title , .footer__support-title{
    margin-bottom: 20px;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

.footer__item-place {
    margin-bottom: 10px;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
}

/* End Footer */